nav.navbar {
  font-family: Helvetica;
  font-size: 17px;
}

.nav.navbar-nav li a {
  color: #FFFFFF;
}

.nav-link {
  color: rgb(30, 30, 30) !important;
}

.nav-link:hover {
  color: #0046b8 !important;
}

.carousel-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.carousel .carousel-indicators li {
  display: inline-block !important;
  width: 10px !important;
  height: 10px !important;
  margin: 10px !important;
  text-indent: 0 !important;
  cursor: pointer !important;
  border: none !important;
  border-radius: 50% !important;
  background-color: #004f99 !important;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5) !important;
}


.carousel-inner{
  width:100% !important;
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E4E4E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234E4E4E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 33px;
  font-weight: bold;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


h4 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.news-item1 {
  flex: 0 0 auto;
  width: 100%;
  margin-bottom:20px;

  border-left: 3px solid #000080;
  left: 3%;
  position: relative;
}

div.title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

div.title_news {
  font-weight: bold;
  font-size: 15px;
}

div.date {
  font-size: 11px;
  font-style: italic;
  margin-bottom: 2px;
}

div.context {
  font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
  font-size: 16px;
}

div.context_news {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

div.news_item{
  max-width: 100%;
  margin-bottom: 5px;

  border-bottom: 2px solid #BFD6FE;
  margin-bottom: 5px;
  margin-top: 10px;
  position: relative;
}

a {
  text-decoration: none;
}

.scroll-box {
  position: relative;
}

.scroll {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}